{% extends 'photoapp/base.html' %}

{% block body %}
<div class="form-group mx-auto">
  <h2 class="text-center">
    您正在 <span class="text-danger">删除</span>: "<i
      >{{ photo }}</i
    >
    "
  </h2>
  <p class="text-center">确定要删除么 ?</p>
  <div class="form-group">
    <form
      action=""
      method="post"
      class="d-flex flex-column align-items-center justify-content-center"
    >
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <a href="{% url 'photo:detail' photo.id %}" class="btn btn-primary"
            >取消</a
          >
        </div>
        <div class="col">
          <button type="submit" class="btn btn-danger">确定</button>
        </div>
      </div>
      <p>删除操作不可撤销</p>
    </form>
  </div>
</div>

{% endblock body %}
