<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <p class="navbar-brand h6" href="{% url 'photo:tags' %}">{{user.username}} 的相册</p>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarTogglerDemo02"
    >
      <ul class="navbar-nav">
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link active h6" href="{% url 'photo:photos' %}">照片墙</a>
        </li>

        <li>&emsp;&emsp;</li>

        <li class="nav-item">
          <a class="nav-link active h6" href="/">标签</a>
        </li>

        <li>&emsp;&emsp;</li>

        <li class="nav-item">
          <a class="nav-link active h6" href="{% url 'photo:tagged_tags' 'no' %}">未标记</a>
        </li>

        <li>&emsp;&emsp;</li>

        <li class="nav-item">
          <a class="nav-link active h6" href="{% url 'photo:tagged_tags' 'yes' %}">已标记</a>
        </li>

        <li>&emsp;&emsp;</li>

        <li class="nav-item">
          <a class="nav-link active h6" href="{% url 'photo:create' %}">添加</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a href="{% url 'user:login' %}" class="btn btn-sm btn-danger"
            >登录</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
