{% extends 'photoapp/photo-list.html' %}

{% block body %}

    <div class="alert alert-primary">
        <div class="row">
            <div class="col-md-4 col-md-4 col-md-4 h3">
                {{ tag }}
            </div>
            <div class="col-md-4 col-md-4 col-md-4 h3">
                <a id="id-tag-shi" href="{% url 'photo:yes-no-tag' %}" onclick="return false;" class="mb-4 h-100">
                    <div id="id-tag-shi-loading" style="display: none;" class="spinner-border"></div>
                    <i id="id-tag-shi-up" class="fa fa-thumbs-up" style="font-size:32px;color:red"></i>
                </a>

            </div>
            <div class="col-md-4 col-md-4 col-md-4 h3">
                <a id="id-tag-fou" href="{% url 'photo:yes-no-tag' %}" onclick="return false;" class="mb-4 h-100">
                    <div id="id-tag-fou-loading" style="display: none;" class="spinner-border"></div>
                    <i id="id-tag-fou-down" class="fa fa-thumbs-down" style="font-size:32px;color:#000000"></i>
                </a>
            </div>
        </div>
    </div>

    {{ block.super }}

    <script>
        $(function () {
            $('#id-tag-shi, #id-tag-fou').click(function () {
                let photos = []
                $('input[name="photo-id"]').each(function () {
                    photos.push(parseInt($(this).val()));
                });
                if (this.id === 'id-tag-shi') {
                    $('#id-tag-shi-up').toggle();
                    $('#id-tag-shi-loading').toggle();
                    $.post($(this).attr('href'), {
                        data: JSON.stringify({
                            tag: 'shi',
                            photos: photos
                        }),
                        success: function () {
                            $('#id-tag-shi-up').toggle();
                            $('#id-tag-shi-loading').toggle();
                        }
                    });
                } else {
                    $('#id-tag-fou-down').toggle();
                    $('#id-tag-fou-loading').toggle();
                    $.post($(this).attr('href'), {
                        data: JSON.stringify({
                            tag: 'fou',
                            photos: photos
                        }),
                        success: function () {
                            $('#id-tag-fou-down').toggle();
                            $('#id-tag-fou-loading').toggle();
                        }
                    });
                }
            });
        });
    </script>

{% endblock body %}